@import 'variables';
@import 'reset';
@import 'header';
@import 'hero';
@import 'estadisticas';
@import 'mini-news';
@import 'timeline';
@import 'autores';
@import 'categorias';
@import 'newsletter';
@import 'modal';
@import 'footer';
@import 'responsive';