@import 'variables';
@import 'base';
@import 'header';
@import 'hero';
@import 'estadisticas';
@import 'noticias';
@import 'autores';
@import 'categorias';
@import 'newsletter';
@import 'modal';
@import 'footer';
@import 'responsive';