* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-color);
    line-height: 1.6;
    background-color: var(--light-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.3;
    text-align: center;
}

.post-title,
.news-title,
.author-name,
.mini-news-title {
    text-align: center; 
}

a {
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1.5rem;
}

.btn {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    border-radius: var(--border-radius);
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    border: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
    
    &:hover {
        background-color: var(--secondary-color);
        transform: translateY(-3px);
        box-shadow: var(--shadow);
    }
}

.btn-outline {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    
    &:hover {
        background-color: var(--primary-color);
        color: white;
    }
}